*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.main{
    max-width: 1330px;
    margin: auto;
}
.header .logo{
background-image: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/cover.png);
text-align: center;


    
}
.header .logo img{
    margin: 27px;
}
.nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    background: #ffb628;
    justify-content: center;
    margin: 0;
    line-height: 40px;
}
@font-face {
  font-family:'Myrmenu' ;
  src: url(../fonts/MYRIADPRO-LIGHTSEMICN_0.ttf);
}
.nav ul li a{
  text-decoration: none;
  padding:24px;
  font-size: 18px;
  color: #000;
  font-family: "Myrmenu";
  text-transform: uppercase;
  font-weight: bold;
  
}
ul li {
    list-style: none;
    padding: 1rem 3rem; 
  
}
.menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  .menu li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 20px;
  }
  .menu li a {
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menu li a:hover, .menu li:hover a {
  
    color: orange;
  
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menu li ul {
    background-color: #ffb628;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
   
    box-shadow: 0 0 10px #666;
    width: 100%;
   
    height: 200px;
  }
  .menu li:hover ul {
    
    display: block;
     
  }
  .menu li ul li {
    width: 30.5%;
   
    display: inline-block;
  }
  .normManu {
    position: relative;
  }
  .menu li.normManu ul {
    width: 200px;
    height: auto;
  }
  .menu li.normManu ul li {
    display: block;
    width: 100%;
  }
  .menu li.normManu ul li a {
    display: block;
  }
  .menu li:hover ul li a {
    display: inline-block; 
    
    color: black;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menu li:hover ul li:hover a {
   
      background-color: #fff;
    
  color: orange;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .time{
      font-style: italic;
      font-size: 14px;
  }
  @font-face {
    font-family:'Myr' ;
    src: url(../fonts/MYRIADPRO-LIGHTSEMIEXT_0.ttf);
}
  .tittle-detail{
      font-family: "Myr";
      font-size: 24px;
      color: #7b0200;
      font-weight: 100  ;
  }
  .content-left{
      width: 70%;
      
  }
  .content-right{
      width: 30%;
     margin-top: -25px;
  }
  .content{
      display: flex;
      gap:90px;
  }
  .content-left .detail-text{
      text-align:justify;
    
  }
  .box2 .form{
    height: 282px;
    width: 269px;
    margin-bottom: 20px;
    background: black;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box2 .form2{
   
    height: 412px;
    width: 269px;
    margin-bottom: 20px;
    background: black;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
   margin-top: 30px;
  }
  .box2 .form2 .tittle-form{
    background: #ffb628;
    color: black;
    font-size: 14px;
    font-weight: unset;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
  }
  .box2 .form .tittle-form{
    background: #ffb628;
    color: black;
    font-size: 14px;
    font-weight: unset;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
  }
  .box2{
    color: #ffb628;
    font-size: 14px;
  }
  .tukhoa{
    width:241px;
    height:41px;
    margin-top: 22px;
    margin-left: 13px;
    margin-right: 10px;
    
  }
  .tukhoa2{
    width:241px;
    height:41px;
   text-align: center;
   
  
  }
  
  .selects{
    margin-top:40px;
    margin-left: 13px;
    margin-right: 10px;
    
  }
  .selects #thanhpho{
    width:241px;
    height:41px;
  }
  
  .search2{
    background-color:#ffb628;
    border: 1px solid #ffb628;
    width:58px;
    height: 29px;
    margin-top: 30px;
    margin-left: 85px;
  
  }
  .colum {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .box2{
    padding-top: 25px;
    padding-left: 25px;
  }
  .khudl{
      display:flex;
      margin-top: 18px;
      margin-bottom: -18px;
  }
  .text-top{
      font-size: 14px;
      color: #fdfbfb;
  }
  .text-top .p2{
    font-size: 14px;
    color: #999999;
    margin-top: -10px;
}
.banner{
    padding-top:5px;
  
  }
.fb{
    margin-left: 15px;
}
.ex{
    display: flex;
}
.bott{
    display: flex;
}
.btn{
    display:flex;
    margin-left:580px;
  
    
}
.btn button{
    font-size:14px;
    font-family: "Myr";
    
    height:20px;
    width: 70px;
  
}
.detail-text{
    font-family: "Myr";
    text-align:justify;
}
.comment{
display: flex;
border-top: 1px solid #e1e1e1;
border-bottom:1px solid #e1e1e1;
padding-top: 20px;
padding-bottom: 20px;

}
.cmt{
    width: 815px;
    height:45px;
}
.content-mid-2{
    background-image: url(../images/cover3.png);
    width: 100%;
    height: 620px;
    background-size: cover;
  
   background-repeat: no-repeat;
   background-position: center;
  
    }
    .content-mid-2 .name-ct2{
      text-align: center;
     
    }
    .content-mid-2 .textbox2{
     background-color: #ffffff;
     width: 370px;
     height:130px;
     padding-top: 20px;
  
    }
    
      @font-face {
        font-family:'Myr' ;
        src: url(../fonts/MYRIADPRO-LIGHTSEMIEXT_0.ttf);
    }
    .content-mid-2 .text-content-2{
      font-size:14px;
      font-family:"Myr";
      color:#7b0200;
    }
    .content-mid-2 .text-content-bot-2{
      font-size:14px;
      font-family:Arial, Helvetica, sans-serif;
    }
    .content-mid-2 .text-box3{
      border: 1px solid #7b0200;
      width: 370px;
      height:50px;
    }
    .text-box3 {
     
      text-align: center;
      margin-left: 37.4%;
      margin-top: 30px;
    
    }
    .text-box3 .xtc{
      font-size:18px;
      font-family:"Myr";
      color:#333333;
      margin-top: 10px;
     
    }
  .content-mid-2 .flex-box {
    display:flex;
   margin-top: 20px;
   justify-content:center;
  }
   .name-ct2s{
    margin-top: 50px;
    text-align: center;
    
  
  }
  @font-face {
    font-family: 'myFont';
    src: url(../fonts/UVNKieu_B.TTF);
}
  .name-ct2s .name-2{
    font-family:"myFont";
    color: #7b0200;
    font-size: 50px;
    font-weight:bold;
  
  }
  .name-ct2s .vien2{
  margin-top: -70px;
  }
  .textbox2{
    margin-right: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 43px;
  }
  .footer-menu{
    display: flex;
    background-color: #ebebeb;
    
    padding:35px,0;
  }
  .footer-menu li a{
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
   
    
  }
  .text-menu {
    font-weight: bold;
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom:18px;
   
  }
  
  .text-menu2 {
  margin-left: 100px;
  margin-top: 30px;
  
  }
  .footer-menu ul li a{
    text-decoration: none;
    color: #000;
   
   
   }
   .footer-menu ul li {
     text-decoration: none;
    margin-top: -20px;
    
    }
